################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KalkulatorPrzekroju/obj/Debug/KalkulatorPrzekroju_MarkupCompile.i.lref

\.vs/KalkulatorPrzekroju/v14/\.suo

/KalkulatorPrzekroju/bin/Debug/\

/KalkulatorPrzekroju/obj/