################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KalkulatorPrzekroju/obj/Debug/KalkulatorPrzekroju_MarkupCompile.i.lref
/KalkulatorPrzekroju/obj/

\\.vs/KalkulatorPrzekroju/

\.vs/KalkulatorPrzekroju/v14/\.suo
