################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/KalkulatorPrzekroju/obj/
/KalkulatorPrzekroju/obj/Debug/KalkulatorPrzekroju_MarkupCompile.i.lref
/KalkulatorPrzekroju/obj/Debug/

\.vs/KalkulatorPrzekroju/v15/sqlite3/
\.vs/
\.vs/KalkulatorPrzekroju/v14/\.suo